<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wish_Items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron">
        <a href="/dashboard">Home</a> <a href="/logout">Logout</a>
        <h1 class="display-4">{{item_caller.name}}</h1>
        <p class="lead">Users who added this product/item under their wish list:</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">

        </p>
    </div>
</body>
</html>